.MyPage {
  font-family: Audiowide;
}

.MyPage .title {
  position: relative;
  text-align: left;
  color: #000;
  font-weight: 400;
  z-index: 999;
  margin-top: 30px;
}

.MyPage .liner {
  position: relative;
  width: 0px;
  background-color: #EDFF6F;
  z-index: 998;
  animation: drawLine 1.5s ease-out forwards;
}

@media print, screen and (min-width: 960px) {
  .MyPage {
    padding-top: 83px;
  }
  .MyPage .title {
    font-size: 45px;
    padding: 0 10%;
  }
  .MyPage .liner {
    height: 17px;
    margin: -37px 0 37px calc(5px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 195px;
    }
  }
  .MyPage .main {
    margin: 50px 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .MyPage .main .back {
    width: 80%;
    text-align: left;
  }
  .MyPage .main .back button {
    border: none;
    background-color: #000;
    color: white;
    border-radius: 50px;
    padding: 10px;
  }
  .MyPage .main .menu {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    z-index: 999;
    margin-top: 30px;
  }
  .MyPage .main .menu .menu_title {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    margin: 0;
  }
  .MyPage .main .menu .txt {
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
  }
  .MyPage .main .menu .info {
    width: 100%;
    margin: 30px 0;
  }
  .MyPage .main .menu .info p {
    padding: 10px;
    font-size: 14px;
  }
  .MyPage .main .menu .info .single_event {
    font-family: Inter;
    margin: 15px 20px;
    padding: 10px 20px;
    width: calc(100% - 80px);
    background-color: aliceblue;
  }
  .MyPage .main .menu .info .single_event .wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  .MyPage .main .menu .info .single_event .wrap .about {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
  }
  .MyPage .main .menu .info .single_event .wrap .about_value {
    width: 100%;
    font-size: 16px;
  }
  .MyPage .main .menu .info .menu_links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
  }
  .MyPage .main .menu .info .menu_links .single_menu {
    width: calc(33% - 20px);
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: 600;
    color: #000;
    transition: 0.3s background-color;
  }
  .MyPage .main .menu .info .menu_links .single_menu:hover {
    background-color: #ccc;
  }
}

@media print, screen and (max-width: 959px) and (min-width: 440px) {
  .MyPage {
    padding-top: 83px;
  }
  .MyPage .title {
    font-size: 45px;
    padding: 0 10%;
  }
  .MyPage .liner {
    height: 17px;
    margin: -37px 0 37px calc(5px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 195px;
    }
  }
  .MyPage .main {
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .MyPage .main .back {
    width: 100%;
    text-align: left;
  }
  .MyPage .main .back button {
    border: none;
    background-color: #000;
    color: white;
    border-radius: 50px;
    padding: 10px;
  }
  .MyPage .main .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 999;
    margin-top: 30px;
  }
  .MyPage .main .menu .menu_title {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    margin: 0;
  }
  .MyPage .main .menu .txt {
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
  }
  .MyPage .main .menu .info {
    width: 100%;
  }
  .MyPage .main .menu .info p {
    padding: 10px;
    font-size: 14px;
  }
  .MyPage .main .menu .info .single_event {
    font-family: Inter;
    margin: 15px 10px;
    padding: 10px;
    width: calc(100% - 40px);
    background-color: aliceblue;
  }
  .MyPage .main .menu .info .single_event .wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  .MyPage .main .menu .info .single_event .wrap .about {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
  }
  .MyPage .main .menu .info .single_event .wrap .about_value {
    width: 100%;
    font-size: 16px;
  }
  .MyPage .main .menu .info .menu_links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
  }
  .MyPage .main .menu .info .menu_links .single_menu {
    width: calc(33% - 20px);
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: 600;
    color: #000;
    transition: 0.3s background-color;
  }
  .MyPage .main .menu .info .menu_links .single_menu:hover {
    background-color: #ccc;
  }
}

@media print, screen and (max-width: 439px) {
  .MyPage {
    padding-top: 63px;
  }
  .MyPage .title {
    font-size: 30px;
    padding: 0 5%;
  }
  .MyPage .liner {
    height: 12px;
    margin: -25px 0 37px calc(5px + 5%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 127px;
    }
  }
  .MyPage .main {
    margin: 25px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .MyPage .main .back {
    width: 100%;
    text-align: left;
  }
  .MyPage .main .back button {
    border: none;
    background-color: #000;
    color: white;
    border-radius: 50px;
    padding: 7px;
    font-size: 14px;
  }
  .MyPage .main .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 999;
    margin-top: 15px;
  }
  .MyPage .main .menu .menu_title {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
    margin: 0;
  }
  .MyPage .main .menu .txt {
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
  }
  .MyPage .main .menu .info {
    width: 100%;
  }
  .MyPage .main .menu .info p {
    padding: 10px;
    font-size: 14px;
  }
  .MyPage .main .menu .info .single_event {
    font-family: Inter;
    margin: 15px 0;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: aliceblue;
  }
  .MyPage .main .menu .info .single_event .wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  .MyPage .main .menu .info .single_event .wrap .about {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
  }
  .MyPage .main .menu .info .single_event .wrap .about_value {
    width: 100%;
    font-size: 16px;
  }
  .MyPage .main .menu .info .menu_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
  }
  .MyPage .main .menu .info .menu_links .single_menu {
    width: calc(100% - 20px);
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: 600;
    margin: 5px 0;
    color: #000;
    transition: 0.3s background-color;
  }
  .MyPage .main .menu .info .menu_links .single_menu:hover {
    background-color: #ccc;
  }
}
