.MyPage{
    font-family: Audiowide;

    .title{
        position: relative;
        text-align: left;
        color: #000;
        font-weight: 400;
        z-index: 999;
        margin-top: 30px;
    }
    .liner {
        position: relative;
        width: 0px;
        background-color: #EDFF6F;
        z-index: 998;
        animation: drawLine 1.5s ease-out forwards;
    }

}

@media print,screen and (min-width: 960px) {
.MyPage{
    padding-top: 83px;

    .title{
        font-size: 45px;
        padding: 0 10%;
    }
    .liner {
        height: 17px;
        margin: -37px 0 37px calc(5px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 195px;
    }
    }
    .main{
        margin: 50px 10% 0 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .back{
            width: 80%;
            text-align: left;

            button{
                border: none;
                background-color: #000;
                color: white;
                border-radius: 50px;
                padding: 10px;
            }
        }

        .menu{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            z-index: 999;
            margin-top: 30px;

            .menu_title{
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                text-align: left;
                padding: 10px;
                margin: 0;
            }
            .info{
                width: 100%;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 10px;

                    .wrap{
                        width: 100%;
                        margin: 5px 0;

                        label{
                            width: 100%;
                            text-align: left;
                            font-family: Inter;
                            font-size: 14px;
                        }
                        input[type='text'],input[type='mail'],input[type='date']{
                            width: calc(100% - 10px);
                            font-family: Inter;
                            padding: 5px;
                        }
                        .alert{
                            font-size: 12px;
                        }
                    }
                    .submit_wrap{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 30px 0;
        
                        .next{
                            cursor: pointer;
                            color: white;
                            font-weight: 600;
                            background-color: #EE8F00;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            font-size: 18px;
                            padding: 10px 30px;
                            border-radius: 20px;
                            width: 200px;
                            margin: 20px 0;
                            border: none;
                        }
                    }    
                }
            }
        }
    }
}
}
@media print,screen and (max-width: 959px) and (min-width: 440px) {
.MyPage{
    padding-top: 83px;

    .title{
        font-size: 45px;
        padding: 0 10%;
    }
    .liner {
        height: 17px;
        margin: -37px 0 37px calc(5px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 195px;
    }
    }
    .main{
        margin: 50px 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .back{
            width: 100%;
            text-align: left;

            button{
                border: none;
                background-color: #000;
                color: white;
                border-radius: 50px;
                padding: 10px;
            }
        }

        .menu{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            z-index: 999;
            margin-top: 30px;

            .menu_title{
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                text-align: left;
                padding: 10px;
                margin: 0;
            }
            .info{
                width: 100%;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 10px;

                    .wrap{
                        width: 100%;
                        margin: 5px 0;

                        label{
                            width: 100%;
                            text-align: left;
                            font-family: Inter;
                            font-size: 14px;
                        }
                        input[type='text'],input[type='mail'],input[type='date']{
                            width: calc(100% - 10px);
                            font-family: Inter;
                            padding: 5px;
                        }
                        .alert{
                            font-size: 12px;
                        }
                    }
                    .submit_wrap{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 30px 0;
        
                        .next{
                            cursor: pointer;
                            color: white;
                            font-weight: 600;
                            background-color: #EE8F00;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            font-size: 18px;
                            padding: 10px 30px;
                            border-radius: 20px;
                            width: 200px;
                            margin: 20px 0;
                            border: none;
                        }
                    }    
                }
            }
        }
    }
}
}

@media print,screen and (max-width: 439px) {
.MyPage {
    padding-top: 63px;

    .title {
    font-size: 30px;
    padding: 0 5%;
    }
    
    .liner {
    height: 12px;
    margin: -25px 0 37px calc(5px + 5%);
    }

    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 127px;
    }
    }
    .main{
        margin: 25px 5% 0 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .back{
            width: 100%;
            text-align: left;

            button{
                border: none;
                background-color: #000;
                color: white;
                border-radius: 50px;
                padding: 7px;
                font-size: 14px;
            }
        }

        .menu{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            z-index: 999;
            margin-top: 15px;

            .menu_title{
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                text-align: left;
                padding: 10px;
                margin: 0;
            }
            .info{
                width: 100%;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 10px;

                    .wrap{
                        width: 100%;
                        margin: 5px 0;

                        label{
                            width: 100%;
                            text-align: left;
                            font-family: Inter;
                            font-size: 14px;
                        }
                        input[type='text'],input[type='mail'],input[type='date']{
                            width: calc(100% - 10px);
                            font-family: Inter;
                            padding: 5px;
                        }
                        .alert{
                            font-size: 12px;
                        }
                        
                    }
                    .submit_wrap{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin: 30px 0;
        
                        .next{
                            cursor: pointer;
                            color: white;
                            font-weight: 600;
                            background-color: #EE8F00;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            font-size: 18px;
                            padding: 10px 30px;
                            border-radius: 20px;
                            width: 200px;
                            margin: 20px 0;
                            border: none;
                        }
                    }    
                }
            }
        }
    }
}
}