.top-button {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: #007bff;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
    z-index: 9999;
}
.top-button:hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.top-button.show {
    display: block;
}
.top-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    height: auto;
    background-color: #000;
    color: #FFFFFF;
    overflow: hidden;

    .raquty{
        font-family: Audiowide;
    }
    .footer_menu{

        .wrap,.wrap_last{
            font-size: 16px;

            li{
                padding: 2.5px 0;

                a{
                    color: white;
                }
            }
            h3{
                color: #EDFF6F;
                font-family: Audiowide;
            }
            ul{
                margin-left :-15px;
            }
        }
            
    }
}

.raqury_copyright{
    border-top: 1px solid #FFFFFF;
    background-color: #000;
    color: #FFFFFF;
    padding:5px 20px;
    font-size: 12px;
    text-align: right;
}

@media screen and (min-width: 960px) {
.footer{
    padding: 50px 100px;

    .raquty{
        font-size: 50px;
    }
    .footer_menu{
        padding: 30px 0;
        display: flex;
        justify-content:space-around;

        .wrap{
            width: 25%;
        }
        .wrap_last{
            width: 25%;
        }
    }
}

}

@media screen and (max-width: 959px) and (min-width: 440px){
.footer{
padding: 40px 5px;

    .raquty{
        padding:30px 20px 20px 30px;
        font-size: 40px;
    }
    .footer_menu{
        padding:5px 0 5px 100px;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;

        .wrap{
            width: 33%;
        }
        .wrap_last{
            width: 67%;
        }
    }
}
}

@media screen and (max-width: 439px){
.footer{
    padding: 50px 5px;

    .raquty{
        padding:30px 20px 20px 30px;
        font-size: 40px;
    }
    .footer_menu{
        padding:5px 30px;
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;

        .wrap{
            width: 50%;
        }
        .wrap_last{
            width: 100%;
        }
    }
}
}

@media print{
    .footer{
        display: none;
    }
}