.tournament_topics{
    font-family: Audiowide;

    h2{
        background-color: #000;
        text-align: right;
        color: white;
        font-family: Audiowide;
        border-radius:  0 25px 25px 0;
    }
    .main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;

        .article{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border: 3px solid #000;
            box-shadow: 0px 4px 8px #EDFF6F;
            width: 100%;
            .wrap{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            .title{
                width: 80%;
                font-weight: 600;
                text-align: center;
                background-color: #F3F3F3;
                color: #000;
                transition: background-color 0.3s, color 0.3s, border-color 0.3s;
            }
            .title:hover {
                background-color: #F7FFB5;
            }
        }
        .paging{
            width: 100%;
            display: flex;
            justify-content: center;

            a{
                text-align: center;
                background-color: #F3F3F3;
                color: #000;
                border-radius: 15px;
                transition: background-color 0.3s, color 0.3s, border-color 0.3s;
            }
            a:hover{
                background-color: #00CED1;
            }
            .active{
                background-color: #D9D9D9;
                cursor:default;
            }
            .active:hover{
                background-color: #D9D9D9;
                cursor:default;
            }
        }
    }
}

@media screen and (min-width: 960px) {
.tournament_topics{
    padding-top: 83px;
    background-color: rgb(230, 230, 230);
    padding-bottom: 5%;

    .h2_wrap{
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin: 40px 0 10px 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards 0.5s;
    }  
    @keyframes slideIn {
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    h2 {
        width: 250px;
        padding: 12px 20px;
        padding-right: 100px;
        font-size: 16px;
    }
    .main{
        width: 80%;
        margin: 0 10%;
        background-color: white;
        
        p{  
            font-family: Inter;
            display: flex;
            width: 90%;
            text-align: left;
            margin: 3% 5% 0 5%;
            border-bottom: 1px solid #000;
            display: flex;
            align-items: center;

            span{
                width: 80px;
                margin-right: 15px;
            }

            a{
                width: calc(100% - 95px);
                font-weight: 600;
                font-size: 20px;
                color: #000;
            }
        }
        
        .article{
            width: 80%;
            margin: 30px 0;
            padding-top: 15px;

            .title{
                padding: 20px;
                font-size: 18px;
                margin-top: 15px;
            }
            .date{
                margin: 10px 20px;
            }
        }
        .paging{
            margin: 60px 0 40px 0;
            
            a{
                margin: 0 5px;
                padding: 15px;  
                width: 25px;
                height: 25px;
            }
        }
    }
    }
}
    
@media print,screen and (max-width: 959px) and (min-width: 440px) {
.tournament_topics{
    padding-top: 83px;

    .h2_wrap{
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin: 40px 0 10px 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards 0.5s;
    }  
    @keyframes slideIn {
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    h2 {
        width: 250px;
        padding: 12px 20px;
        padding-right: 100px;
        font-size: 16px;
    }
    .main{
        width: 100%;

        p{
            font-family: Inter;
            width: 90%;
            text-align: left;
            margin: 3% 5% 0 5%;
            border-bottom: 1px solid #000;
            display: flex;
            align-items: center;

            span{
                width: 85px;
                margin-right: 15px;
            }

            a{
                width: calc(100% - 90px);
                font-weight: 600;
                font-size: 16px;
                color: #000;
            }
        }

        .article{
            width: 90%;
            margin: 15px 0;
            padding-top: 15px;

            .title{
                padding: 12px;
                font-size: 16px;
                margin-top: 15px;
            }
            .date{
                margin: 10px 20px;
                font-size: 14px;
            }
        }
        .paging{
            margin: 60px 0 40px 0;
            
            a{
                margin: 0 10px;
                padding: 10px;  
                width: 20px;
                height: 20px;
            }
        }
    }
    }
}
    
@media screen and (max-width: 439px) {
.tournament_topics{
    padding-top: 63px;

    .h2_wrap{
        display: flex;
        justify-content: flex-start;
        opacity: 0;
        margin: 30px 0 20px 0;
        transform: translateX(-100%);
        animation: slideIn 0.5s forwards 0.5s;
        }  
    @keyframes slideIn {
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    h2 {
        width: 150px;
        padding: 12px 20px;
        padding-right: 50px;
        padding-left: 100px;
        font-size: 12px;
    }
    .main{
        width: 100%;

        p{
            font-family: Inter;
            width: 90%;
            text-align: left;
            margin: 3% 5% 0 5%;
            border-bottom: 1px solid #000;
            font-size: 14px;
            display: flex;
            align-items: center;
            padding: 5px;

            span{
                width: 70px;
                margin-right: 15px;
            }

            a{
            width: calc(100% - 85px);
            font-weight: 600;
            font-size: 14px;
            color: #000;
            }
        }

        .article{
            width: 90%;
            margin: 15px 0;
            padding-top: 10px;

            .title{
                padding: 12px;
                font-size: 12px;
                margin-top: 15px;
            }
            .date{
                margin: 10px 20px;
                font-size: 10px;
            }
        }
        .paging{
            margin: 60px 0 40px 0;
            
            a{
                margin: -20px 7px;
                padding: 5px;  
                width: 20px;
                height: 20px;
            }
        }
    }
}
}

@page {
	margin: 0mm 5mm;
	size: A4 portrait; //横の場合はlandscape
}