.Tournament_Entry{
    font-family: Audiowide;

    .Entry{
        position: relative;
        text-align: left;
        color: #000;
        font-weight: 400;
        z-index: 999;
        margin-top: 30px;
    }
    .liner {
        position: relative;
        width: 0px;
        background-color: #EDFF6F;
        z-index: 998;
        animation: drawLine 1.5s ease-out forwards;
    }
    
    .info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        .wrap{
            display: flex;
            flex-wrap: wrap;
            
            .date,.organizer,.venue{
                display: flex;
                font-weight: 600;
                font-size: 18px;
                width: 100%;
            }
            .organizer_value{
                font-family: Inter;
            }
            .date:before,.organizer:before,.venue:before{
                content: "";
                height: 8px;
                width: 20%;
                background-color: #424242;
                margin-right: 15px;
                border-radius: 20px 0 0 20px;
            }
            .date:after,.organizer:after,.venue:after{
                content: "";
                height: 8px;
                width: 57.5%;
                background-color: #424242;
                margin-left: 15px;
                border-radius: 0 20px 20px 0;
            }
            .date_value,.organizer_value,.venue_value{
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
            }
            .date_value{
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                margin: 0 3%;
                padding: 5px 0;

                .single_date{
                    width: 50%;
                    text-align: left;
                }
            }
            .organizer_value{
                text-align: left;
                margin: 0 3%;
            }
            .venue_value{
                display: flex;
                flex-wrap: wrap;
                justify-self: start;
                margin: 0 3% 2% 3%;
                padding: 5px 0;

                .single_venue{
                    width: 45%;
                }
            }
        }
    }
    .button_wrap{
        .next,.next_smartphone{
            cursor: pointer;
            color: white;
            font-weight: 600;
            background-color: #EE8F00;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border: none;
        }
        .back{
            cursor: pointer;
            color: white;
            font-weight: 600;
            background: #646463;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border: none;
        }
    }
    .user{
        background-color: #D9D9D9;
        font-family: Inter;

        h2{
            background-color: #000;
            text-align: right;
            color: white;
            font-family: Audiowide;
            border-radius:  0 25px 25px 0;
        }
    }

}

@media print,screen and (min-width: 960px) {
.Tournament_Entry{
    padding-top: 83px;
    padding-bottom: 50px;

    .Entry{
        font-size: 57px;
        padding: 0 10%;
    }
    .liner {
        height: 17px;
        margin: -45px 0 37px calc(5px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 175px;
    }
    }
    
    .top{
        width: 80%;
        margin: 50px 10% 20px 10%;

        .selected_title{
            font-size: 20px;
            margin: 20px 40px 0 40px;
        }
        .selected_value{
            font-size: 35px;
            font-family: Inter;
            font-weight: 600;
            margin: 10px 40px;
        }

        .info{
            
            display: flex;
            flex-wrap: wrap;

            .wrap{
                width: 33%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 30px;
                
                .date,.organizer,.venue{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 15px;
                    width: 100%;
                }
                .organizer_value{
                    font-family: Inter;
                }
                .date:before,.organizer:before,.venue:before{
                    content: "";
                    height: 8px;
                    width: 20%;
                    background-color: #424242;
                    margin-right: 15px;
                    border-radius: 20px 0 0 20px;
                }
                .date:after,.organizer:after,.venue:after{
                    content: "";
                    height: 8px;
                    width: 57.5%;
                    background-color: #424242;
                    margin-left: 15px;
                    border-radius: 0 20px 20px 0;
                }
                .date_value,.organizer_value,.venue_value{
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                }
                .date_value{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    margin: 0 3%;
                    padding: 5px 0;

                    .single_date{
                        width: 50%;
                        text-align: left;
                    }
                }
                .organizer_value{
                    text-align: left;
                    margin: 0 3%;
                }
                .venue_value{
                    display: flex;
                    flex-wrap: wrap;
                    justify-self: start;
                    margin: 0 3% 5% 3%;
                    font-size: 14px;
                    padding: 5px 0;

                    .single_venue{
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .button_wrap{
        display: flex;
        justify-content: center;

        .next,.back{
            margin: 70px 50px 0 50px;
            font-size: 20px;
            padding: 10px 30px;
            border-radius: 20px;
            width: 300px;
        }
        .next_smartphone{
            display: none;
        }
    }
    .user{

        .h2_wrap{
            display: flex;
            justify-content: flex-start;
            opacity: 0;
            margin: 40px 0 10px 0;
            transform: translateX(-100%);
            animation: slideIn 0.5s forwards 0.5s;
        }  
        @keyframes slideIn {
            to {
            opacity: 1;
            transform: translateX(0);
            }
        }
        h2 {
            width: 250px;
            padding: 12px 20px;
            padding-right: 100px;
            font-size: 16px;
        }
        .detail{
            display: flex;
            justify-content:center;

            .value{
                font-size: 16px;
                text-align: left;
                margin: 30px 150px;

                span{
                    font-size: 20px;
                    margin-left: 40px;
                }
            }

            .value::before{
                content: '●';
                margin-right: 15px;
            }
        }
    }
    .Msg{
        width: calc(80% - 40px);
        margin: 0 10%;
        text-align: center;
        padding: 50px 20px 0 20px;

        .icon{

            .fas{
                font-size: 40px;
                padding: 10px 0;
            }
        }
        .txt_msg{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .about{
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid #000;
                width: auto;
            }
            p{
                width: 100%;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}
}
@media print,screen and (max-width: 959px) and (min-width: 440px) {
.Tournament_Entry{
    padding-top: 83px;
    padding-bottom: 50px;

    .Entry{
        font-size: 50px;
        padding: 0 10%;
    }
    .liner {
        height: 15px;
        margin: -41px 0 37px calc(5px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 150px;
    }
    }

    .top{
        width: 80%;
        margin: 50px 10%;

        .selected_title{
            font-size: 16px;
            margin: 20px 40px 0 40px;
        }
        .selected_value{
            font-size: 24px;
            font-family: Inter;
            font-weight: 600;
            margin: 10px 40px 30px 40px;
        }

        .info{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .wrap{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 30px;
                
                .date,.organizer,.venue{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    font-size: 15px;
                    width: 100%;
                }
                .organizer_value{
                    font-family: Inter;
                }
                .date:before,.organizer:before,.venue:before{
                    content: "";
                    height: 8px;
                    width: 20%;
                    background-color: #424242;
                    margin-right: 15px;
                    border-radius: 20px 0 0 20px;
                }
                .date:after,.organizer:after,.venue:after{
                    content: "";
                    height: 8px;
                    width: 57.5%;
                    background-color: #424242;
                    margin-left: 15px;
                    border-radius: 0 20px 20px 0;
                }
                .date_value,.organizer_value,.venue_value{
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                }
                .date_value{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    margin: 0 3%;
                    padding: 5px 0;

                    .single_date{
                        width: 50%;
                        text-align: left;
                    }
                }
                .organizer_value{
                    text-align: left;
                    margin: 0 3%;
                }
                .venue_value{
                    display: flex;
                    flex-wrap: wrap;
                    justify-self: start;
                    margin: 0 3% 5% 3%;
                    font-size: 14px;
                    padding: 5px 0;

                    .single_venue{
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .button_wrap{
        display: flex;
        justify-content: center;

        .next,.back{
            margin: 70px 40px 0 40px;
            font-size: 20px;
            padding: 10px 30px;
            border-radius: 20px;
            width: 200px;
        }
        .next_smartphone{
            display: none;
        }
    }
    .user{
        .h2_wrap{
            display: flex;
            justify-content: flex-start;
            opacity: 0;
            margin: 40px 0 10px 0;
            transform: translateX(-100%);
            animation: slideIn 0.5s forwards 0.5s;
        }  
        @keyframes slideIn {
            to {
            opacity: 1;
            transform: translateX(0);
            }
        }
        h2 {
            width: 250px;
            padding: 12px 20px;
            padding-right: 100px;
            font-size: 16px;
        }
        .detail{
            display: flex;
            justify-content:center;

            .value{
                font-size: 14px;
                text-align: left;
                margin: 30px 50px;

                span{
                    font-size: 18px;
                    margin-left: 40px;
                }
            }

            .value::before{
                content: '●';
                margin-right: 15px;
            }
        }
    }
    .Msg{
        width: calc(80% - 40px);
        margin: 0 10%;
        text-align: center;
        padding: 40px 20px 0 20px;

        .icon{

            .fas{
                font-size: 40px;
                padding: 10px 0;
            }
        }
        .txt_msg{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .about{
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid #000;
                width: auto;
            }
            p{
                width: 100%;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}
}

@media screen and (max-width: 439px) {
    .Tournament_Entry {
      padding-top: 63px;
      padding-bottom: 20px;
  
      .Entry {
        font-size: 38px;
        padding: 0 10%;
      }
      
      .liner {
        height: 12px;
        margin: -32px 0 37px calc(5px + 10%);
      }
  
      @keyframes drawLine {
        0% {
          width: 0;
        }
        100% {
          width: 115px;
        }
      }
  
      .top {
        width: 95%;
        margin: 50px 2.5%;

        .selected_title{
            font-size: 14px;
            margin: 20px 20px 10px 20px;
        }
        .selected_value{
            font-size: 20px;
            font-family: Inter;
            font-weight: 600;
            margin: 0 40px;
        }

        .info {
          width: 90%;
          margin: 30px 5%;
          display: flex;
          flex-wrap: wrap;
  
          .wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
  
            .date,
            .organizer,
            .venue {
              display: flex;
              align-items: center;
              font-weight: 600;
              font-size: 15px;
              width: 100%;
  
              &:before {
                content: "";
                height: 5px;
                width: 20%;
                background-color: #424242;
                margin-right: 15px;
                border-radius: 20px 0 0 20px;
              }
  
              &:after {
                content: "";
                height: 5px;
                width: 60%;
                background-color: #424242;
                margin-left: 15px;
                border-radius: 0 20px 20px 0;
              }
  
              .date_value,
              .organizer_value,
              .venue_value {
                width: 100%;
                padding: 5px;
              }
  
              .date_value {
                display: flex;
                flex-wrap: wrap;
                justify-content:space-between;
                font-size: 16px;
                margin: 0 3%;
                padding: 5px 0;
  
                .single_date {
                  width: 50%;
                  text-align: center;
                }
              }
  
              .organizer_value {
                text-align: left;
                margin: 0;
                font-size: 16px;
              }
  
              .venue_value {
                display: flex;
                flex-wrap: wrap;
                justify-self: start;
                margin: 0 3% 30px 3%;
                font-size: 14px;
                padding: 5px 0;
  
                .single_venue {
                  margin-right: 30px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .button_wrap{
        margin: 50px 0 0 0;

        form{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .next_smartphone,.back{
                margin: 20px 50px;
                font-size: 20px;
                padding: 10px 30px;
                border-radius: 20px;
                width: 250px;
            }
            .next{
                display: none;
            }
        }
    }
    .user{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        width: 100%;

        .h2_wrap {
            display: flex;
            justify-content: flex-start;
            opacity: 0;
            margin: 0 0 20px 0;
            transform: translateX(-100%);
            animation: slideIn 0.5s forwards 0.5s;
          }
      
          @keyframes slideIn {
            to {
              opacity: 1;
              transform: translateX(0);
            }
          }
      
          h2 {
            width: 100px;
            padding: 12px 20px;
            padding-right: 50px;
            padding-left: 100px;
            font-size: 12px;
          }
          .detail{
            display: flex;
            justify-content:flex-start;
            flex-wrap: wrap;
            width: 100%;

            .value{
                width: 100%;
                font-size: 16px;
                text-align: left;
                margin: 15px 50px;

                span{
                    font-size: 20px;
                    margin-left: 40px;
                }
            }

            .value::before{
                content: '●';
                margin-right: 15px;
            }
        }
    }
    .Msg{
        width: calc(95% - 40px);
        margin: 0 2.5%;
        text-align: center;
        padding: 30px 20px 0 20px;

        .icon{

            .fas{
                font-size: 30px;
                padding: 10px 0;
            }
        }
        .txt_msg{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .about{
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid #000;
                width: auto;
            }
            p{
                width: 100%;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    }
  }

  @page {
	margin: 0mm 5mm;
	size: A4 portrait; //横の場合はlandscape
}