.topics {
  display: flex;
  flex-wrap: wrap;
}

.topics .top {
  width: 100%;
  margin: 50px 0 80px 0;
}

.topics .top .date {
  font-family: Audiowide;
}

.topics .top .wrap {
  display: flex;
  justify-content: flex-end;
}

.topics .top .wrap .editor {
  font-family: Audiowide;
}

.topics .contents {
  width: 100%;
}

.topics .bottom {
  width: 100%;
}

.topics .bottom .responsibility {
  font-family: Audiowide;
}

.topics .page_return {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics .page_return button {
  font-family: Audiowide;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
  margin: 70px 0 40px 0;
  width: 350px;
  border-radius: 20px;
  font-size: 22px;
  padding: 10px 50px;
}

.topics .page_return button:hover {
  background-color: #00CED1;
  color: white;
}

@media screen and (min-width: 960px) {
  .topics {
    padding: 83px 10% 30px 10%;
    margin-bottom: 30px;
  }
  .topics .top .date {
    position: relative;
    width: 20%;
    padding: 10px 0;
    text-align: center;
    background-color: #F3F3F3;
    z-index: 999;
  }
  .topics .top .title {
    position: relative;
    width: 86%;
    margin: -15px 7% 0 7%;
    text-align: center;
    padding: 20px 10px;
    background-color: #D9D9D9;
    font-size: 20px;
    z-index: 99;
  }
  .topics .top .editor {
    position: relative;
    z-index: 999;
    background-color: #F3F3F3;
    width: 40%;
    padding: 10px 0;
    margin-top: -15px;
    text-align: center;
    color: #000;
  }
  .topics .contents {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
  }
  .topics .contents img {
    width: 70px;
    height: auto;
    margin: -55px 0 0 30px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
  }
  .topics .contents .main_contents {
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  .topics .bottom .responsibility {
    margin: 15px 0;
    font-size: 14px;
  }
}

@media print, screen and (max-width: 959px) and (min-width: 440px) {
  .topics {
    padding: 83px 10% 30px 10%;
    margin-bottom: 30px;
  }
  .topics .top .date {
    position: relative;
    width: 40%;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
    background-color: #F3F3F3;
    z-index: 999;
  }
  .topics .top .title {
    position: relative;
    width: 86%;
    margin: -15px 7% 0 7%;
    text-align: center;
    padding: 20px 10px;
    background-color: #D9D9D9;
    font-size: 16px;
    z-index: 99;
  }
  .topics .top .editor {
    position: relative;
    z-index: 999;
    background-color: #F3F3F3;
    width: 40%;
    padding: 7px 0;
    margin-top: -15px;
    text-align: center;
    font-size: 14px;
    color: #000;
  }
  .topics .contents {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    font-size: 14px;
  }
  .topics .contents img {
    width: 70px;
    height: auto;
    margin: -55px 0 0 30px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
  }
  .topics .contents .main_contents {
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  .topics .bottom .responsibility {
    margin: 15px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 439px) {
  .topics {
    padding: 63px 5% 10px 5%;
  }
  .topics .top .date {
    position: relative;
    width: 150px;
    padding: 7px 0;
    font-size: 10px;
    text-align: center;
    background-color: #F3F3F3;
    z-index: 999;
  }
  .topics .top .title {
    position: relative;
    width: 91%;
    margin: -8px 6% 0 3%;
    text-align: center;
    padding: 20px 10px;
    background-color: #D9D9D9;
    font-size: 13px;
    z-index: 99;
  }
  .topics .top .editor {
    position: relative;
    z-index: 999;
    background-color: #F3F3F3;
    width: 40%;
    padding: 7px 0;
    margin-top: -8px;
    margin-right: -10px;
    text-align: center;
    font-size: 11px;
    color: #000;
  }
  .topics .contents {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    font-size: 14px;
  }
  .topics .contents img {
    width: 60px;
    height: auto;
    margin: -50px 0 0 30px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
  }
  .topics .contents .main_contents {
    padding: 15px;
    margin-bottom: 30px;
    line-height: 30px;
  }
  .topics .bottom .responsibility {
    margin: 15px 0;
    font-size: 10px;
  }
  .topics .page_return button {
    margin: 40px 0;
    width: 250px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 50px;
  }
}

@page {
  margin: 0mm 5mm;
  size: A4 portrait;
}
