.Entry_List_View {
  font-family: Audiowide;
}

.Entry_List_View .title {
  position: relative;
  text-align: left;
  color: #000;
  font-weight: 400;
  z-index: 999;
  margin-top: 30px;
}

.Entry_List_View .liner {
  position: relative;
  width: 0px;
  background-color: #EDFF6F;
  z-index: 998;
  animation: drawLine 1.5s ease-out forwards;
}

@media screen and (min-width: 960px) {
  .Entry_List_View {
    padding-top: 83px;
  }
  .Entry_List_View .title {
    font-size: 57px;
    padding: 0 10%;
  }
  .Entry_List_View .liner {
    height: 17px;
    margin: -45px 0 37px calc(5px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 320px;
    }
  }
  .Entry_List_View .main .wrap {
    margin: 50px 10% 10px 10%;
  }
  .Entry_List_View .main .wrap .selected {
    font-size: 14px;
    margin: 5px 0;
  }
  .Entry_List_View .main .wrap .selected_value {
    font-family: Inter;
    font-size: 20px;
    margin: 5px 0;
  }
  .Entry_List_View .main .List {
    margin: 50px 10% 10px 10%;
  }
  .Entry_List_View .main .List .Entry_List {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Entry_List_View .main .List .Entry_List .Event_Name {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    vertical-align: middle;
  }
  .Entry_List_View .main .List .Entry_List .Event_Detail {
    margin: 10px;
    font-size: 14px;
  }
  .Entry_List_View .main .List .Entry_List .Display_List {
    cursor: pointer;
  }
  .Entry_List_View .main .List .Entry_List table {
    border-collapse: collapse;
    font-size: 14px;
  }
  .Entry_List_View .main .List .Entry_List table th, .Entry_List_View .main .List .Entry_List table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Entry_List_View .main .List .Entry_List table th:first-child, .Entry_List_View .main .List .Entry_List table td:first-child {
    width: 30px;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(2), .Entry_List_View .main .List .Entry_List table td:nth-child(2) {
    width: 250px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(3), .Entry_List_View .main .List .Entry_List table td:nth-child(3) {
    width: 300px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(4), .Entry_List_View .main .List .Entry_List table td:nth-child(4) {
    width: 300px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(5), .Entry_List_View .main .List .Entry_List table td:nth-child(5) {
    width: 120px;
    font-family: Inter;
  }
  .Entry_List_View .submit_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .Entry_List_View .submit_wrap .next {
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #EE8F00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    width: 300px;
    margin: 30px;
    border: none;
  }
}

@media print, screen and (max-width: 959px) and (min-width: 440px) {
  .Entry_List_View {
    padding-top: 83px;
  }
  .Entry_List_View .title {
    font-size: 57px;
    padding: 0 10%;
  }
  .Entry_List_View .liner {
    height: 17px;
    margin: -45px 0 37px calc(5px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 320px;
    }
  }
  .Entry_List_View .main .wrap {
    margin: 50px 10% 10px 10%;
  }
  .Entry_List_View .main .wrap .selected {
    font-size: 14px;
    margin: 5px 0;
  }
  .Entry_List_View .main .wrap .selected_value {
    font-family: Inter;
    font-size: 20px;
    margin: 5px 0;
  }
  .Entry_List_View .main .List {
    margin: 50px 5% 10px 5%;
  }
  .Entry_List_View .main .List .Entry_List {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Entry_List_View .main .List .Entry_List .Event_Name {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    vertical-align: middle;
  }
  .Entry_List_View .main .List .Entry_List .Event_Detail {
    margin: 10px;
    font-size: 14px;
  }
  .Entry_List_View .main .List .Entry_List .Display_List {
    cursor: pointer;
  }
  .Entry_List_View .main .List .Entry_List table {
    border-collapse: collapse;
    font-size: 12px;
  }
  .Entry_List_View .main .List .Entry_List table th, .Entry_List_View .main .List .Entry_List table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Entry_List_View .main .List .Entry_List table th:first-child, .Entry_List_View .main .List .Entry_List table td:first-child {
    width: 30px;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(2), .Entry_List_View .main .List .Entry_List table td:nth-child(2) {
    width: 250px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(3), .Entry_List_View .main .List .Entry_List table td:nth-child(3) {
    width: 300px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(4), .Entry_List_View .main .List .Entry_List table td:nth-child(4) {
    width: 300px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(5), .Entry_List_View .main .List .Entry_List table td:nth-child(5) {
    width: 120px;
    font-family: Inter;
  }
  .Entry_List_View .submit_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .Entry_List_View .submit_wrap .next {
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #EE8F00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    width: 300px;
    margin: 30px;
    border: none;
  }
}

@media screen and (max-width: 439px) {
  .Entry_List_View {
    padding-top: 63px;
  }
  .Entry_List_View .title {
    font-size: 35px;
    margin: 30px 40px 30px 20px;
  }
  .Entry_List_View .liner {
    height: 12px;
    margin: -57px 0 37px 20px;
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 195px;
    }
  }
  .Entry_List_View .main .wrap {
    margin: 50px 5% 10px 5%;
  }
  .Entry_List_View .main .wrap .selected {
    font-size: 14px;
    margin: 5px 0;
  }
  .Entry_List_View .main .wrap .selected_value {
    font-family: Inter;
    font-size: 20px;
    margin: 5px 0;
  }
  .Entry_List_View .main .List {
    margin: 30px 0 10px 0;
  }
  .Entry_List_View .main .List .Entry_List {
    margin: 20px 10px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Entry_List_View .main .List .Entry_List .Event_Name {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    vertical-align: middle;
  }
  .Entry_List_View .main .List .Entry_List .Event_Detail {
    margin: 10px;
    font-size: 14px;
  }
  .Entry_List_View .main .List .Entry_List .Display_List {
    cursor: pointer;
  }
  .Entry_List_View .main .List .Entry_List table {
    border-collapse: collapse;
    font-size: 12px;
  }
  .Entry_List_View .main .List .Entry_List table th, .Entry_List_View .main .List .Entry_List table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Entry_List_View .main .List .Entry_List table th:first-child, .Entry_List_View .main .List .Entry_List table td:first-child {
    width: 30px;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(2), .Entry_List_View .main .List .Entry_List table td:nth-child(2) {
    width: 250px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(3), .Entry_List_View .main .List .Entry_List table td:nth-child(3) {
    width: 300px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(4), .Entry_List_View .main .List .Entry_List table td:nth-child(4) {
    width: 300px;
    font-family: Inter;
  }
  .Entry_List_View .main .List .Entry_List table th:nth-child(5), .Entry_List_View .main .List .Entry_List table td:nth-child(5) {
    width: 120px;
    font-family: Inter;
  }
  .Entry_List_View .submit_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  .Entry_List_View .submit_wrap .next {
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #EE8F00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 20px;
    width: 300px;
    margin: 30px;
    border: none;
  }
}

@page {
  margin: 0mm 5mm;
  size: A4 portrait;
}
