.Group_PickUP {
  font-family: Audiowide;
  background-color: #e6e6e6;
}

.Group_PickUP .Group_pick_up {
  position: relative;
  text-align: left;
  color: #000;
  font-weight: 400;
  z-index: 999;
  margin-top: 30px;
}

.Group_PickUP .liner {
  position: relative;
  width: 0px;
  background-color: #EDFF6F;
  z-index: 998;
  animation: drawLine 1.5s ease-out forwards;
}

.Group_PickUP .top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 0;
}

.Group_PickUP .top .search {
  background-color: #A8F6DA;
  padding-bottom: 30px;
}

.Group_PickUP .top .search .title {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}

.Group_PickUP .top .search .title:before, .Group_PickUP .top .search .title:after {
  content: "";
  height: 4px;
  flex-grow: 1;
  background-color: #000;
}

.Group_PickUP .top .search .title:before {
  margin-right: 10px;
}

.Group_PickUP .top .search .title:after {
  margin-left: 10px;
}

.Group_PickUP .top .search form {
  display: flex;
  justify-content: space-between;
  margin: 10% 5% 5% 5%;
}

.Group_PickUP .top .search form input[type='text'] {
  width: 70%;
  padding: 10px;
  height: 30px;
  font-size: 20px;
}

.Group_PickUP .top .search form input[type='submit'] {
  width: 20%;
  height: 50px;
  transition: background-color 0.3s, border 0.3s;
}

.Group_PickUP .top .search form input[type='submit']:hover {
  cursor: pointer;
  border: 2px solid #000;
}

.Group_PickUP .top .search form input {
  border: none;
  outline: none;
  border-radius: 15px;
}

.Group_PickUP .top .search .sub_title {
  width: 90%;
  margin: 0 5%;
  text-align: right;
  font-weight: 600;
}

.Group_PickUP .top .search .result {
  margin-top: 15px;
  padding: 10px 20px;
}

.Group_PickUP .top .search .result .result_title {
  font-weight: 600;
  font-size: 20px;
}

.Group_PickUP .top .search .result p {
  padding: 10px;
  padding-bottom: -10px;
}

.Group_PickUP .top .search .result ul {
  margin: -30px 0;
}

.Group_PickUP .top .search .result li {
  padding: 5px;
  font-size: 20px;
}

.Group_PickUP .top .search .result li a {
  color: #000;
}

.Group_PickUP .top .other {
  display: flex;
  justify-content: center;
}

.Group_PickUP .top .other .tour {
  margin-right: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.Group_PickUP .top .other .tour .title {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
}

.Group_PickUP .top .other .tour .text {
  width: 120px;
  height: 120px;
  background-color: #2D9AFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  border-radius: 40px;
}

.Group_PickUP .top .other .player {
  margin-right: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.Group_PickUP .top .other .player .title {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
}

.Group_PickUP .top .other .player .text {
  width: 120px;
  height: 120px;
  background-color: #6B10FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  border-radius: 40px;
}

.Group_PickUP h2 {
  background-color: #000;
  text-align: right;
  color: white;
  font-family: Audiowide;
  border-radius: 0 25px 25px 0;
}

.Group_PickUP .rigions {
  width: 100%;
}

.Group_PickUP .rigions .single_region_img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Group_PickUP .rigions .single_region_img a {
  color: #000;
}

.Group_PickUP .rigions .single_region_img .value, .Group_PickUP .rigions .single_region_img .value-custom-width {
  position: relative;
}

.Group_PickUP .rigions .single_region_img .value img, .Group_PickUP .rigions .single_region_img .value-custom-width img {
  position: relative;
}

.Group_PickUP .rigions .single_region_img .value p, .Group_PickUP .rigions .single_region_img .value-custom-width p {
  position: absolute;
  font-weight: 600;
  background-color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  text-align: center;
}

.Group_PickUP .rigions .single_region_img .value:hover, .Group_PickUP .rigions .single_region_img .value-custom-width:hover {
  cursor: pointer;
}

.Group_PickUP .single_region {
  background-color: white;
}

.Group_PickUP .single_region .h3_wrap {
  display: flex;
  justify-content: flex-end;
}

.Group_PickUP .single_region .h3_wrap h3 {
  background-color: #000;
  color: white;
  font-family: Audiowide;
  border-radius: 25px 0 0 25px;
  vertical-align: center;
}

.Group_PickUP .single_region .wrap {
  display: flex;
  justify-content: center;
}

.Group_PickUP .single_region .wrap .links {
  display: flex;
  flex-wrap: wrap;
}

.Group_PickUP .single_region .wrap .links a {
  display: block;
  text-align: left;
  color: #000;
}

.Group_PickUP .single_region .wrap .links p {
  width: 100%;
  text-align: center;
}

.Group_PickUP .bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.Group_PickUP .bottom .tour {
  margin-right: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
}

.Group_PickUP .bottom .tour .title {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 20px;
}

.Group_PickUP .bottom .tour .text {
  width: 120px;
  height: 120px;
  background-color: #2D9AFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  border-radius: 40px;
}

.Group_PickUP .bottom .player {
  margin-right: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
}

.Group_PickUP .bottom .player .title {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 20px;
}

.Group_PickUP .bottom .player .text {
  width: 120px;
  height: 120px;
  background-color: #6B10FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  border-radius: 40px;
}

@media print, screen and (min-width: 960px) {
  .Group_PickUP {
    padding-top: 83px;
  }
  .Group_PickUP .Group_pick_up {
    font-size: 57px;
    padding: 0 10%;
  }
  .Group_PickUP .liner {
    height: 17px;
    margin: -45px 0 37px calc(5px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 505px;
    }
  }
  .Group_PickUP .top {
    margin: 5%;
  }
  .Group_PickUP .top .search {
    width: 50%;
    margin-right: 5%;
  }
  .Group_PickUP .top .search .title {
    font-size: 35px;
    font-weight: 600;
  }
  .Group_PickUP .top .other {
    width: 35%;
    margin-left: 5%;
  }
  .Group_PickUP .h2_wrap {
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin: 40px 0 10px 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards 0.5s;
  }
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .Group_PickUP h2 {
    width: 250px;
    padding: 12px 20px;
    padding-right: 100px;
    font-size: 16px;
  }
  .Group_PickUP .rigions .single_region_img {
    margin-bottom: 100px;
  }
  .Group_PickUP .rigions .single_region_img .value {
    width: 25vw;
    height: 22.5vh;
    overflow: hidden;
  }
  .Group_PickUP .rigions .single_region_img .value img {
    width: 100%;
  }
  .Group_PickUP .rigions .single_region_img .value p {
    width: auto;
    font-size: 2.5vw;
    padding: 10px 30px;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width {
    width: 20vw;
    height: 18vh;
    overflow: hidden;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width img {
    width: 100%;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width p {
    font-size: 2.5vw;
    padding: 10px 30px;
  }
  .Group_PickUP .single_region {
    padding-bottom: 100px;
    margin: 2.5% 10%;
  }
  .Group_PickUP .single_region .h3_wrap h3 {
    width: 280px;
    padding: 12px 40px;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .Group_PickUP .single_region .wrap {
    width: 100%;
  }
  .Group_PickUP .single_region .wrap .links {
    padding: 30px;
    width: 60%;
    border: 2px solid #000;
  }
  .Group_PickUP .single_region .wrap .links a {
    width: 33.3%;
    font-size: 18px;
  }
  .Group_PickUP .single_region .wrap .links p {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 959px) and (min-width: 440px) {
  .Group_PickUP {
    padding-top: 83px;
  }
  .Group_PickUP .Group_pick_up {
    font-size: 45px;
    padding: 0 10%;
  }
  .Group_PickUP .liner {
    height: 15px;
    margin: -35px 0 37px calc(5px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 400px;
    }
  }
  .Group_PickUP .h2_wrap {
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin: 40px 0 10px 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards 0.5s;
  }
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .Group_PickUP h2 {
    width: 250px;
    padding: 12px 20px;
    padding-right: 100px;
    font-size: 16px;
  }
  .Group_PickUP .top {
    margin: 5%;
  }
  .Group_PickUP .top .search {
    width: 90%;
  }
  .Group_PickUP .top .search .title {
    font-size: 35px;
    font-weight: 600;
  }
  .Group_PickUP .top .other {
    width: 80%;
  }
  .Group_PickUP .top .other .tour {
    margin-right: 0;
    width: 50%;
  }
  .Group_PickUP .top .other .tour .title {
    font-size: 2vw;
    margin-bottom: 15px;
  }
  .Group_PickUP .top .other .tour .text {
    width: 80px;
    height: 80px;
    font-size: 25px;
    border-radius: 15px;
  }
  .Group_PickUP .top .other .player {
    margin-right: 0;
    width: 50%;
  }
  .Group_PickUP .top .other .player .title {
    font-size: 2vw;
    margin-bottom: 15px;
  }
  .Group_PickUP .top .other .player .text {
    width: 80px;
    height: 80px;
    font-size: 25px;
    border-radius: 15px;
  }
  .Group_PickUP .rigions .single_region_img {
    margin-bottom: 50px;
  }
  .Group_PickUP .rigions .single_region_img .value {
    width: 33.3vw;
    height: 13vh;
    overflow: hidden;
  }
  .Group_PickUP .rigions .single_region_img .value img {
    width: 100%;
  }
  .Group_PickUP .rigions .single_region_img .value p {
    width: auto;
    font-size: 2.5vw;
    padding: 10px 30px;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width {
    width: 33.3vw;
    height: 13vh;
    overflow: hidden;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width img {
    width: 100%;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width p {
    font-size: 2.5vw;
    padding: 10px 30px;
  }
  .Group_PickUP .single_region {
    padding-bottom: 100px;
    margin: 2.5% 3%;
  }
  .Group_PickUP .single_region .h3_wrap h3 {
    width: 280px;
    padding: 12px 40px;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .Group_PickUP .single_region .wrap {
    width: 100%;
  }
  .Group_PickUP .single_region .wrap .links {
    padding: 30px;
    width: 80%;
    border: 2px solid #000;
  }
  .Group_PickUP .single_region .wrap .links a {
    width: 33.3%;
    font-size: 18px;
  }
  .Group_PickUP .single_region .wrap .links p {
    font-size: 20px;
    padding: 10px;
  }
  .Group_PickUP .bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .Group_PickUP .bottom .tour {
    margin-right: 10px;
    padding: 30px 20px;
    width: 30%;
  }
  .Group_PickUP .bottom .tour .title {
    font-size: 2vw;
  }
  .Group_PickUP .bottom .tour .text {
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-radius: 35px;
  }
  .Group_PickUP .bottom .player {
    margin-right: 10px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
  }
  .Group_PickUP .bottom .player .title {
    font-size: 2vw;
  }
  .Group_PickUP .bottom .player .text {
    width: 100px;
    height: 100px;
    font-size: 30px;
    border-radius: 35px;
  }
}

@media screen and (max-width: 439px) {
  .Group_PickUP {
    padding-top: 63px;
  }
  .Group_PickUP .Group_pick_up {
    font-size: 35px;
    padding: 0 10%;
  }
  .Group_PickUP .liner {
    height: 10px;
    margin: -28px 0 0 calc(3px + 10%);
  }
  @keyframes drawLine {
    0% {
      width: 0;
    }
    100% {
      width: 309px;
    }
  }
  .Group_PickUP .h2_wrap {
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin: 30px 0 20px 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards 0.5s;
  }
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .Group_PickUP h2 {
    width: 150px;
    padding: 12px 20px;
    padding-right: 50px;
    padding-left: 100px;
    font-size: 12px;
  }
  .Group_PickUP .top {
    margin: 5%;
  }
  .Group_PickUP .top .search {
    margin-top: 10%;
    width: 95%;
    padding-bottom: 20px;
  }
  .Group_PickUP .top .search .title {
    font-size: 20px;
    font-weight: 600;
  }
  .Group_PickUP .top .search .sub_title {
    font-size: 12px;
  }
  .Group_PickUP .top .search .result .result_title {
    font-size: 16px;
  }
  .Group_PickUP .top .other {
    width: 80%;
  }
  .Group_PickUP .top .other .tour {
    margin-right: 0;
    width: 50%;
  }
  .Group_PickUP .top .other .tour .title {
    display: none;
  }
  .Group_PickUP .top .other .tour .text {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 15px;
  }
  .Group_PickUP .top .other .player {
    margin-right: 0;
    width: 50%;
  }
  .Group_PickUP .top .other .player .title {
    display: none;
  }
  .Group_PickUP .top .other .player .text {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 15px;
  }
  .Group_PickUP .rigions .single_region_img {
    margin-bottom: 50px;
  }
  .Group_PickUP .rigions .single_region_img .value {
    width: 100vw;
    height: 23vh;
    overflow: hidden;
  }
  .Group_PickUP .rigions .single_region_img .value img {
    width: 100%;
  }
  .Group_PickUP .rigions .single_region_img .value p {
    width: auto;
    font-size: 25px;
    padding: 20px 40px;
    top: 42%;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width {
    width: 100vw;
    height: 23vh;
    overflow: hidden;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width img {
    width: 100%;
  }
  .Group_PickUP .rigions .single_region_img .value-custom-width p {
    font-size: 25px;
    padding: 20px 40px;
    top: 42%;
  }
  .Group_PickUP .single_region {
    padding-bottom: 100px;
    margin: 2.5% 3%;
  }
  .Group_PickUP .single_region .h3_wrap h3 {
    width: 200px;
    padding: 12px 40px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .Group_PickUP .single_region .wrap {
    width: 100%;
  }
  .Group_PickUP .single_region .wrap .links {
    padding: 30px;
    width: 70%;
    border: 2px solid #000;
  }
  .Group_PickUP .single_region .wrap .links a {
    width: 50%;
    font-size: 14px;
  }
  .Group_PickUP .single_region .wrap .links p {
    font-size: 14px;
    padding: 10px;
  }
  .Group_PickUP .bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .Group_PickUP .bottom .tour {
    margin-right: 10px;
    padding: 30px 20px;
    width: 30%;
  }
  .Group_PickUP .bottom .tour .title {
    display: none;
  }
  .Group_PickUP .bottom .tour .text {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 15px;
  }
  .Group_PickUP .bottom .player {
    margin-right: 10px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
  }
  .Group_PickUP .bottom .player .title {
    display: none;
  }
  .Group_PickUP .bottom .player .text {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 15px;
  }
}
