.Register_Password{
    font-family: Audiowide;
    background-color: #e6e6e6;

    .Register{
        position: relative;
        text-align: left;
        color: #000;
        font-weight: 400;
        z-index: 999;
        margin-top: 30px;
    }
    .liner {
        position: relative;
        width: 0px;
        background-color: #EDFF6F;
        z-index: 998;
        animation: drawLine 1.5s ease-out forwards;
    }
    h2{
        background-color: #000;
        text-align: right;
        color: white;
        font-family: Audiowide;
        border-radius:  0 25px 25px 0;
    }
    .main{
        padding: 0 10% 50px 10%;

        form{
            
            input{
                display: block;
                outline:none;
                border: none;
                border-bottom: 2px solid #000;
            }
            label:before{
                content: "*";
                color: red;
                margin-right: 10px;
                font-size: 12px;
            }
            #cfm_msg{
                width: 100%;
                padding: 5px;
                height: 20px;
                color: red;
                opacity: 0;
                transform: translateY(-20px); 
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
            button{
                border: none;
                font-weight: 600;
                transition: background-color 0.3s ease-in-out;
            }
            button:hover{
                background-color: #00CED1;
                color: white;
            }
        }
    }
}


@media print,screen and (min-width: 960px) {
.Register_Password{
    padding-top: 83px;

    .Register{
        font-size: 57px;
        padding: 0 10%;
    }
    .liner {
        height: 17px;
        margin: -45px 0 37px calc(5px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 190px;
    }
    }
    .h2_wrap{
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin: 30px 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards 0.5s;
    }  
    @keyframes slideIn {
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    h2 {
        width: 250px;
        padding: 12px 20px;
        padding-right: 100px;
        font-size: 16px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p{
            font-size: 18px;
            padding: 5px 15px;
            width: 100%;
            font-weight: 600;
        }
        form{
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            label{
                width: 100%;
                margin: 10px 0;
            }

            input{
                width: 100%;
                padding: 10px;
                font-size: 20px;
            }
            button{
                margin: 30px 0;
                width: 250px;
                height: 50px;
                border-radius: 15px;
                font-size: 16px;
            }
        }
    }
}
}

@media screen and (max-width: 959px) and (min-width: 440px) {
.Register_Password{
    padding-top: 83px;

    .Register{
        font-size: 57px;
        padding: 0 10%;
    }
    .liner {
        height: 17px;
        margin: -45px 0 37px calc(5px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 190px;
    }
    }
    .h2_wrap{
        display: flex;
        justify-content: flex-start;
        opacity: 0;
        margin: 30px 0;
        transform: translateX(-100%);
        animation: slideIn 0.5s forwards 0.5s;
        }  
    @keyframes slideIn {
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    h2 {
        width: 250px;
        padding: 12px 20px;
        padding-right: 100px;
        font-size: 16px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p{
            font-size: 14px;
            padding: 5px 15px;
            width: 100%;
            font-weight: 600;
        }
        form{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            label{
                width: 100%;
                margin: 10px 0;
            }

            input{
                width: 100%;
                padding: 10px;
                font-size: 20px;
            }
            button{
                margin: 30px 0;
                width: 250px;
                height: 50px;
                border-radius: 15px;
                font-size: 16px;
            }
        }
    }
}
}

@media screen and (max-width: 439px) {
.Register_Password{
    padding-top: 63px;

    .Register {
        font-size: 42px;
        padding: 0 10%;

    }
    .liner {
        height: 14px;
        margin: -35px 0 0 calc(3px + 10%);
    }
    @keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 140px;
    }
    }
    .h2_wrap{
        display: flex;
        justify-content: flex-start;
        opacity: 0;
        margin: 25px 0 40px 0;
        transform: translateX(-100%);
        animation: slideIn 0.5s forwards 0.5s;
        }  
    @keyframes slideIn {
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    h2 {
        width: 150px;
        padding: 12px 20px;
        padding-right: 50px;
        padding-left: 100px;
        font-size: 12px;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p{
            font-size: 13px;
            width: 100%;
            font-weight: 600;
        }
        form{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            label{
                width: 100%;
                margin: 10px 0;
            }
            input{
                width: 100%;
                padding: 10px;
                font-size: 20px;
            }
            button{
                margin: 30px 0;
                width: 250px;
                height: 50px;
                border-radius: 15px;
                font-size: 16px;
            }
        }
    }
}
}

.Register_cfm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: none;
}

.Register_cfm .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: 400px;
    text-align: center;
}

.Register_cfm p {
    margin: 10px 0;
    text-align: left;
}

.Register_cfm #Email_cfm {
    margin: 10px 0;
    text-align: left;
}

.Register_cfm .cfm_button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.Register_cfm button#edit,
.Register_cfm button#submit {
    text-align: center;
    border: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 15px;
    width: 100px;
    height: 50px;
}

.Register_cfm button#edit {
    background-color: #e6e6e6;
}

.Register_cfm button#edit:hover {
    background-color: #ccc;
}

.Register_cfm button#submit {
    background-color: #ccc;
}

.Register_cfm button#submit:hover {
    background-color: #00CED1;
    color: white;
}
